**IMPORT DATA**

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

In [ ]:
data = pd.read_csv('/content/ab_data.csv')

In [ ]:
data.groupby(['landing_page','converted'])['converted'].count()

landing_page  converted
new_page      0            129743
              1             17498
old_page      0            129500
              1             17739
Name: converted, dtype: int64

In [ ]:
data1 = {'Web Baru' : [17498,129743],'Web Lama':[17739,129500] }
df = pd.DataFrame (data1,index= ['Mau Bayar','Tidak Mau Bayar'])
df

                 Web Baru  Web Lama
Mau Bayar           17498     17739
Tidak Mau Bayar    129743    129500

In [ ]:
contingency_table = np.array([[17498,129743],[17739,129500]])

In [ ]:
chi2, pvalue , dof , expctd = chi2_contingency(contingency_table,correction=False)

In [ ]:
pvalue

0.17078297802593553

In [ ]:
data_ops = {'Jenis Web' : ['Web Baru','Web Lama'],'Total Pengguna':[147241,147239], 'Mau Bayar':[17498,17739],'Buy Code':[1,1]}
data_ops = pd.DataFrame(data_ops,index=[1,2])
data_ops

  Jenis Web  Total Pengguna  Mau Bayar  Buy Code
1  Web Baru          147241      17498         1
2  Web Lama          147239      17739         1

In [ ]:
total_biaya = data_ops ['Total Pengguna']*data_ops['Buy Code']
data_ops['Total Biaya Ops']= total_biaya
profit= data_ops ['Mau Bayar']
data_ops['Profit']= profit
user_percentage = data_ops['Mau Bayar']/data_ops['Total Pengguna']*100
data_ops['% Pengguna'] = user_percentage
profit_percentage = data_ops['Profit']/data_ops['Total Biaya Ops']*100
data_ops['%Profit']=profit_percentage
data_ops

,Jenis Web,Total Pengguna,Mau Bayar,Buy Code,Total Biaya Ops,Profit,% Pengguna,%Profit
1,Web Baru,147241,17498,1,147241,17498,11.883918,11.883918
2,Web Lama,147239,17739,1,147239,17739,12.047759,12.047759

In [ ]:
diff = 12.04 - 11.88
diff

0.15999999999999837

In [ ]:
p_diff = 17498 - 17739
p_diff

-241